*{
    margin: 0;
    padding: 0;

}
body{
    background: #F7F7F7;
    font-family: 'Quicksand', sans-serif;
}
header{
    width: 100%;
    height: auto;
    background: #F2F0F0;
    box-shadow: 0px 3px 6px #0000001A;
    margin-bottom: 145px;
}
header .logo{
    width: 7%;
    height: auto;
    margin-left: 15px;
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.container-text{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 132px;
}
.container-text h1{
    color: #F14627;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
}
.container-text h2{
    width: 400px;
    font-size: 20px;
    color: #36393C;
    margin-bottom: 20px;
}
.container-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background: #F14623;
    border-radius: 15px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 73px;
    font-weight: 700;
}
.container-button.validate{
    opacity: 0;
}

.container-image{
    width: 100%;
}
.container-image img{
    width: 461px;
    padding-left: 50px;
}
footer{
    background: #36393F;
    width: 100%;
    height: 105px;
    border-bottom:  6px solid #F14623;
    display: flex;
    
}
.footer{
    width: 52%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
}
.footer-message{
    width: 76px;
}
.footer-copyright{
    width: 116px;
}
p{
    color: #F8F8F8;
}
.footer-message p{
    font-size: 18px;
    font-weight: 700;
}
.footer-copyright p{
    font-size: 11px;
    margin-bottom: 6px;
    text-align: center;
}
/* page question */
button{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background: none;
    border: none;
    font-weight: 700;
}
.container-question form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-text-good{
    width: auto;
    height: auto;
    background: #019501;
    padding: 7px 52px;
    border-radius: 5px;
    display: none;
    margin-top: 30px;
}
.container-text-good p{
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
}
.container-text-wrong{
    width: auto;
    height: auto;
    background: #B40902;
    padding: 7px 52px;
    border-radius: 5px;
    display: none;
    margin-top: 30px;
}
.container-text-wrong p{
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
}
.container-button.next{
    display: none;
    cursor: pointer;
}

.propositions{
    display: flex;
    flex-direction: column;
}
.propositions div{
    text-align: left;
}
@media only screen and (max-device-width : 800px){
    .container-image{
        padding-left: 0px;
    }
    .container-image img{
        width: 70%;
    }
    header .logo{
        width: 20%;
    }
    .footer{
        width: 100%;
        margin-right: 24px;
    }
    .container-text h2{
        width: 80%;
    }
}
